$fSize: 40px;
$medium-size: 28px;
$small-size: 24px;
$big-size: 32px;
$full-size: 36px;

// $blue: #0F8DE8;
$blue: #ff8028;
// $gray: #e5e5e5;
$gray: #efeff4;

$b-1: #616161;
$b-2: #677897;

@import './flex.scss';
@import './styles.scss';
@import './mixins.scss';